* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

nav a {
  color: seashell;
}
