* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

nav a {
  color: seashell;
}

main {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
}

.section-1 {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 110px;
  width: 1200px;
}

.mission h2 {
  padding-bottom: 20px;
}
