* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

nav a {
  color: seashell;
}

main {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.section-1 {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 110px;
  width: 1200px;
}

.mission h2 {
  padding-bottom: 20px;
}

.section-2 {
  width: 1200px;
  flex-direction: column;
}

.tea-header {
  display: flex;
  width: 1000px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tea-header h2 {
  padding-bottom: 15px;
}

.tea-content {
  display: flex;
  width: 1000px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tea-content p {
  font-weight: bold;
  padding-top: 10px;
}

.tea-specs img {
  width: 300px;
  height: 200px;
}

.tea-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3 {
  background-image: url("../images/img-locations-background.jpg");
  flex-direction: column;
  height: 500px;
  width: 1200px;
}

.location-header {
  margin-bottom: 15px;
}

.location-content {
  display: flex;
  width: 980px;
  justify-content: space-between;
}

.location-1, .location-2, .location-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  height: 300px;
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: space-around;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
